$hover-color:#e1ea53e0;
$link-color: black;

@mixin filter($filter){
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -ms-filter: $filter;
    filter: $filter;
}
@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}
// Cannot initiate font :(
@font-face {
    font-family: titleFont;
    src: url(../fonts/yugothib/yugothib.ttf);

    font-family: normalFont;
    src: url(../fonts/yugothil/yugothil.ttf);
}

body {
    vertical-align: middle;   
    font-family: "Yu Gothic";   
}
article{
    margin-top: 2%;
    .contents{
        display: flex;
        justify-content: center;
        padding: 0 135px; 
        .headlines{
            margin-top: -21px;            
            .banners{
                margin-top: 2%;
                height: 50%;
            }            
            .hs-alignment{              
                padding: 21px;
                display: flex;
                .content-text{
                    margin: -13px 12px;
                    font-size: 13px;
                    p:nth-child(2) a{
                        font-size: 15px;
                        &:hover{
                            color: $hover-color;
                        }
                    }  
                    p:nth-child(1),p:nth-child(2),p:nth-child(3) {
                        overflow: hidden;
                        max-width: 53ch;
                       
                    }                             
                }
                a{
                    &:hover{
                        color: $hover-color;
                    }
                    img{
                        width: 267px;
                        height: 177px;
                        
                        
                    }

                }
                
            }
            .btn-more{
                width: 40%;
                background-color:  #333232;
                justify-content: flex-end;
                display: flex;
                align-items: center;
                color:white;
                padding: 0.5em;
                font-size: 16px;
                margin: 50px;
                img{
                    @extend .filter;
                }
            }
        }
        .banners{
            background-color: #8080802b;  
            height: 50%;    
            margin-right: 8px;     
            .banner-content{ 
                hr{
                    border: 1px solid;
                    margin-top:-14px;
                    width:90%;
                }              
                h2{
                    @extend .center;
                }
                .banner-width{
                    width: 285px;
                }
                .white-banner{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    padding: 11px 26px;
                    height: 209px;
                    margin: 5% 18px 0 18px;
                }
                .banner-img{
                    display:flex;
                    padding: 16px;
                    margin-bottom: -33px;
                    img{
                       
                        width: 130px;
                        height: 103px;
                    }
                    .banner-text{
                        margin-top: -20px;
                        line-height: 20px;
                        padding-left: 10px;
                        .date-fmt{
                            font-weight: unset;
                        }
                        p:nth-child(1) a{
                            font-size: 10px;
                            &:hover{
                                color: $hover-color;
                            }
                        }
                    }
                }
                .dummy-banner{
                    background-color: #808080fa;
                    color: white;
                    margin-top: 17px;
                    padding: 5px;
                    
                    .adjust-link{
                        color:white;
                        font-weight:unset;
                        &:hover{
                            color: $hover-color;
                        }
                    }
                }
            }                         
        } 
        .adjust-link{
            font-weight: bold;
            color: $link-color;
            text-decoration: none;
        }        
    }
}
.center{
    display: flex;
    justify-content: center;
}
section{
    .slideshow{
        // margin: 0 auto;
        #slide-container{  
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: bottom;
            }                                                                       
        } 
        button{
            position: absolute;
            top: 300px;
            background-color: Transparent;
            border: none;
            img{
                height: 40px;
                @extend .filter;
            }
        }
        .next{
            // border-radius: 10px 0px 0px 10px;
            position: absolute;
            right: 170px;
        }
        .prev{
        	position: absolute;
            left: 170px;
        }
        .btn-container{
            position: relative;
            top: -40px;
            text-align:center;
            .slider-btn{
                display:inline-block;
                height:15px;
                width: 15px;
                border-radius: 22px;
                background-color: #bbb;
                margin: 5px;
                &:hover,
                &:active{
                    background-color: $hover-color;
                } 
            }                           
        }
    }    
    
} 

footer {
    .fr-container{
        background-color: $link-color;
        color:white;    
        width: 100%;
        display:flex;
        justify-content:space-around;
    } 
    .back-top a img{
        margin-left: 80%;
        margin-bottom: 7px;
    }
}
.filter {    
    @include filter(brightness(0) invert(1));
}
   
