@font-face {
  font-family: titleFont;
  src: url(../fonts/yugothib/yugothib.ttf);
  font-family: normalFont;
  src: url(../fonts/yugothil/yugothil.ttf); }
body {
  vertical-align: middle;
  font-family: "Yu Gothic"; }

article {
  margin-top: 2%; }
  article .contents {
    display: flex;
    justify-content: center;
    padding: 0 135px; }
    article .contents .headlines {
      margin-top: -21px; }
      article .contents .headlines .banners {
        margin-top: 2%;
        height: 50%; }
      article .contents .headlines .hs-alignment {
        padding: 21px;
        display: flex; }
        article .contents .headlines .hs-alignment .content-text {
          margin: -13px 12px;
          font-size: 13px; }
          article .contents .headlines .hs-alignment .content-text p:nth-child(2) a {
            font-size: 15px; }
            article .contents .headlines .hs-alignment .content-text p:nth-child(2) a:hover {
              color: #e1ea53e0; }
          article .contents .headlines .hs-alignment .content-text p:nth-child(1), article .contents .headlines .hs-alignment .content-text p:nth-child(2), article .contents .headlines .hs-alignment .content-text p:nth-child(3) {
            overflow: hidden;
            max-width: 53ch; }
        article .contents .headlines .hs-alignment a:hover {
          color: #e1ea53e0; }
        article .contents .headlines .hs-alignment a img {
          width: 267px;
          height: 177px; }
      article .contents .headlines .btn-more {
        width: 40%;
        background-color: #333232;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        color: white;
        padding: 0.5em;
        font-size: 16px;
        margin: 50px; }
    article .contents .banners {
      background-color: #8080802b;
      height: 50%;
      margin-right: 8px; }
      article .contents .banners .banner-content hr {
        border: 1px solid;
        margin-top: -14px;
        width: 90%; }
      article .contents .banners .banner-content .banner-width {
        width: 285px; }
      article .contents .banners .banner-content .white-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 11px 26px;
        height: 209px;
        margin: 5% 18px 0 18px; }
      article .contents .banners .banner-content .banner-img {
        display: flex;
        padding: 16px;
        margin-bottom: -33px; }
        article .contents .banners .banner-content .banner-img img {
          width: 130px;
          height: 103px; }
        article .contents .banners .banner-content .banner-img .banner-text {
          margin-top: -20px;
          line-height: 20px;
          padding-left: 10px; }
          article .contents .banners .banner-content .banner-img .banner-text .date-fmt {
            font-weight: unset; }
          article .contents .banners .banner-content .banner-img .banner-text p:nth-child(1) a {
            font-size: 10px; }
            article .contents .banners .banner-content .banner-img .banner-text p:nth-child(1) a:hover {
              color: #e1ea53e0; }
      article .contents .banners .banner-content .dummy-banner {
        background-color: #808080fa;
        color: white;
        margin-top: 17px;
        padding: 5px; }
        article .contents .banners .banner-content .dummy-banner .adjust-link {
          color: white;
          font-weight: unset; }
          article .contents .banners .banner-content .dummy-banner .adjust-link:hover {
            color: #e1ea53e0; }
    article .contents .adjust-link {
      font-weight: bold;
      color: black;
      text-decoration: none; }

.center, article .contents .banners .banner-content h2 {
  display: flex;
  justify-content: center; }

section .slideshow #slide-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: bottom; }
section .slideshow button {
  position: absolute;
  top: 300px;
  background-color: Transparent;
  border: none; }
  section .slideshow button img {
    height: 40px; }
section .slideshow .next {
  position: absolute;
  right: 170px; }
section .slideshow .prev {
  position: absolute;
  left: 170px; }
section .slideshow .btn-container {
  position: relative;
  top: -40px;
  text-align: center; }
  section .slideshow .btn-container .slider-btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 22px;
    background-color: #bbb;
    margin: 5px; }
    section .slideshow .btn-container .slider-btn:hover, section .slideshow .btn-container .slider-btn:active {
      background-color: #e1ea53e0; }

footer .fr-container {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around; }
footer .back-top a img {
  margin-left: 80%;
  margin-bottom: 7px; }

.filter, article .contents .headlines .btn-more img, section .slideshow button img {
  -webkit-filter: brightness(0) invert(1);
  -moz-filter: brightness(0) invert(1);
  -ms-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

/*# sourceMappingURL=style.css.map */
